:root {
    --light-font-color: #FFFFFF;
    --dark-font-color: #23272A;
    --third-font-color: #7289DA;
    --bg-btn-color: #8EA1E1;
    --bg-alternative-color: #F6F6F6;

    --font1: 'Montserrat', sans-serif;
}

/********
RESET RULES
*********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font1);
}

/* utility */

.container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    padding-top: 1rem;

}

.container::after {
    content: "";
    display: table;
    clear: both;
}


/*************
SITE HEADER
*************/

#site_header {
    
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}


#site_navigation{
    line-height: 2rem;
}



#site_navigation::after {
    content: "";
    display: table;
    clear: both;
}

#site_navigation > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8rem;
}

#site_logo > img {
    height: 2rem;
}

#site_logo, #btn_login {
    width: 25%;
    float: left;
}

#btn_nav {
    width: 50%;
    float: left;
}

#btn_nav > a {
    color: var(--light-font-color);
    
    text-decoration: none;
    margin: 0 1rem;
}


#btn_login > div {
    float: right;
    background-color: var(--light-font-color);
    color: var(--dark-font-color);
    font-weight: bold;
    padding: 0 0.5rem;
    border-radius: 10rem;
}

.site_hero {
    width: 60%;
    margin: 6rem auto;
    color: var(--light-font-color);

    
}

.site_hero > * {
    text-align: center;
}

.site_hero > h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

.site_hero > p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.hero_btn > div {
    display: inline-block;
    padding: 1rem;
    border-radius: 8rem;
    font-weight: bold;
    margin: 0 0.5rem;
}

.hero_btn .white {
    color: var(--dark-font-color);
    background-color: var(--bg-alternative-color);
}

.hero_btn .black {
    color: var(--bg-alternative-color);
    background-color: var(--dark-font-color);
}


/************
SITE MAIN
**********/

#site_main {
    color: var(--dark-font-color);
}

.col65, .col35 {
    padding: 2rem;
}

.col65 {
    width: 65%;
    float: left;
}

.col35 {
    width: 35%;
    float: left;
}

.col65 > img {
    width: 100%;
}

.col35 > h3, .content1 > h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;

}

/* 
.col35 > p {


} */

.white-r {
    background-color: var(--light-font-color);
}

.cyan-r {
    background-color: var(--bg-alternative-color);
}

/* .wave1, .wave2 {
    margin-bottom: 0;
} */

.wave1 > svg {
    /* fill: var(--light-font-color); */
    height: 3rem;
    width: 100%;
    fill: var(--bg-alternative-color);
}

.wave2 > svg {
    /* fill: var(--light-font-color); */
    height: 3rem;
    width: 100%;
    fill: var(--light-font-color);
}


.content1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.content2 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}



